<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="John Doe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>vemDeco - Crie sua conta!</title>
        <link rel="stylesheet" href="css/cadastro.css">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <link rel="icon" href="img/favicon.ico">
    </head>
    <body>
        <div class="container uk-text-center">
            <div class="loginContent">
                <img src="img/vemdeco-plataforma-digital-logo.png" alt="vemDeco a sua plataforma de venda" title="vemDeco a sua plataforma de venda"/>
                <form class="formlogin">
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input" type="text" aria-label="Not clickable icon" placeholder="Nome Completo:">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input class="uk-input" type="text" aria-label="Not clickable icon" placeholder="E-mail:">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                            <input class="uk-input" type="text" aria-label="Not clickable icon" placeholder="Seu Telefone:">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: location"></span>
                            <input class="uk-input" type="text" aria-label="Not clickable icon" placeholder="Cidade:">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: tag"></span>
                            <input class="uk-input" type="text" aria-label="Not clickable icon" placeholder="CPF ou CNPJ:">
                        </div>
                    </div>
                
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="password" aria-label="Not clickable icon" placeholder="Senha:">
                        </div>
                    </div>

                    <button class="uk-button">Acessar</button>
                </form>
                <div class="helpLink">
                    <a href="">Criar Acesso</a>
                    <a href="">Confirmar E-mail</a>
                    <a href="">Esqueci a Senha</a>
                </div>
            </div>
        </div>
    </body>
</html>