<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="John Doe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>vemDeco a sua plataforma de venda digital</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <link rel="icon" href="img/favicon.ico">
    </head>
    <body>
        <nav class="navbar">
            <div id="menuToggle">
                <!--
                A fake / hidden checkbox is used as click reciever,
                so you can use the :checked selector on it.
                -->
                <input type="checkbox" />
                
                <!--
                Some spans to act as a hamburger.
                
                They are acting like a real hamburger,
                not that McDonalds stuff.
                -->
                <span></span>
                <span></span>
                <span></span>
                
                <!--
                Too bad the menu has to be inside of the button
                but hey, it's pure CSS magic.
                -->
                <ul id="menu">
                    <a href="#"><li>Home</li></a>
                    <a href="#"><li>About</li></a>
                    <a href="#"><li>Info</li></a>
                    <a href="#"><li>Contact</li></a>
                    <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
                </ul>
            </div>
            <div class="logo">
                <a href="/" data-link>
                    <img src="img/vem-deco-plataforma-digital-logo.png">
                </a>
            </div>
      
            <ul class="nav-items menuDesktop">
                <li><a href="/" data-link>Home</a></li>
                <li><a href="/about" data-link>About</a></li>
                <li><a href="/contact" data-link>Contact us</a></li>
                <li><a href="/" data-link>Home</a></li>
                <li><a href="/about" data-link>About</a></li>
                <li><a href="/contact" data-link>Contact us</a></li>
            </ul>

            <ul class="nav-items">
                <li class="btlogin">
                    <a href="/login" data-link>
                    <span class="login-icon" uk-icon="user"></span>
                        Login
                    </a>
                </li>
            </ul>
        </nav>
      
        <div id="home">
            <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push">
                <ul class="uk-slideshow-items">
                    <li>
                        <img src="https://getuikit.com/docs/images/photo.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-position-small uk-text-center uk-light">
                            <h2 class="uk-margin-remove">Center</h2>
                            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </li>
                    <li>
                        <img src="https://getuikit.com/docs/images/dark.jpg" alt="" uk-cover>
                        <div class="uk-position-bottom uk-position-medium uk-text-center uk-light">
                            <h3 class="uk-margin-remove">Bottom</h3>
                            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </li>
                    <li>
                        <img src="https://getuikit.com/docs/images/light.jpg" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">Overlay Bottom</h3>
                            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </li>
                    <li>
                        <img src="https://getuikit.com/docs/images/dark.jpg" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-default uk-position-bottom-right uk-position-small">
                            <h3 class="uk-margin-remove">Overlay Bottom Right</h3>
                            <p class="uk-margin-remove">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                </ul>
            
                <div class="uk-light">
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                </div>
            </div>

            <div class="uk-child-width-1-3@m content" uk-grid>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="https://getuikit.com/docs/images/light.jpg" width="1800" height="1200" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="https://getuikit.com/docs/images/light.jpg" width="1800" height="1200" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="https://getuikit.com/docs/images/light.jpg" width="1800" height="1200" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="https://getuikit.com/docs/images/light.jpg" width="1800" height="1200" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="https://getuikit.com/docs/images/light.jpg" width="1800" height="1200" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="https://getuikit.com/docs/images/light.jpg" width="1800" height="1200" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-3@m">
                        <div class="uk-card uk-card-default uk-card-body">
                            <img src="img/vemdeco-plataforma-digital-logo.png" alt="vemDeco a sua plataforma de venda" title="vemDeco a sua plataforma de venda"/>
                            <p>O Vemdeco é a sua plataforma digital para administrar, comprar, vender, permutar, alugar , anunciar e comissionar sem sair de casa.</p>
                            <div class="uk-text-center social" uk-grid>
                                <a href="" uk-icon="icon: instagram"></a>
                                <a href="" uk-icon="icon: facebook"></a>
                                <a href="" uk-icon="icon: twitter"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3@m contact">
                        <div class="uk-card uk-card-default uk-card-body">
                           <h3>Venha Nos Visitar!</h3>
                           <p>Escritório 1: Rua Alemanha 183 - JD Europa
                            Campo Limpo Paulista – SP
                            CEP: 13232-030</p>

                            <h3>Contato</h3>
                            <p><a href="" uk-icon="icon: whatsapp"></a>  11 98493-5375 / 11 4039-2394</p>
                        </div>
                    </div>
                    <div class="uk-width-1-3@m mail">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Atendimento</h3>
                            <p>Horário de funcionamento: <br/>das 09:00 às 17:00<br/> de Seg a Sex.</p>

                            <h3>E-mail para contato</h3>
                            <p><a href="" uk-icon="icon: mail"></a>  atendimento@vemdeco.com.br</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>